@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--blue-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --blue-50: #eaecee;
  --blue-100: #bec3c9;
  --blue-200: #9ea7af;
  --blue-300: #727e8a;
  --blue-400: #566574;
  --blue-500: #2c3f51;
  --blue-600: #28394a;
  --blue-700: #1f2d3a;
  --blue-800: #18232d;
  --blue-900: #121a22;

  --ligth-blue-500: #c0d8ed;

  --orange-400: #e09450;
  --orange-500: #e67e21;
  --orange-600: #d35400;

  --alert-success: #6bcd75;
  --alert-info: #1275ea;
  --alert-danger: #ff4545;

  --input-background: #fffacc;
  --input-border: #efeabb;
  --input-color: #48441d;

  --text-color: #f1f1f1;

  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 2.1rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3.2rem;
  --font-family: "Aleo", Helvetica, Arial, sans-serif;
  /* Spacing */
  --spacing-s: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;

  --br-xs: 0.125rem;
  --br-s: 0.25rem;
  --br-m: 0.5rem;
  --br-l: 1rem;
  --br-xl: 2.5rem;

  --padding-s: 0.25rem;
  --padding-m: 0.5rem;
  --padding-l: 1rem;
  --padding-xl: 2rem;
  --padding-xxl: 4rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  place-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
main {
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
}
#content {
  width: 65%;
  background-color: var(--blue-700);
  padding: var(--padding-xl);
}
.hidden {
  display: none;
}
.fade {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.column-3 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
}
.column-2 {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
/* Styling texts*/
h1.title {
  width: 100%;
  max-width: 580px;
  font-size: var(--font-size-4xl);
  font-weight: bold;
  color: var(--orange-500);
  line-height: 1;
  text-align: center;
  em {
    font-weight: 100;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  padding: 1rem 0;
  p {
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--ligth-blue-500);
    font-weight: 300;
  }
}

/* Styling for the form */
h2.form-title {
  font-size: var(--font-size-3xl);
  line-height: 1;
  font-weight: bold;
  color: var(--orange-500);
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-l);
  align-items: baseline;
  padding: 4px 0px;

  label {
    flex-shrink: 0;
    font-style: italic;
  }
}
.input-container input {
  width: 100%;
  flex-grow: 1;
  border: none;
  background-color: var(--input-background);
  color: var(--input-color);
  text-align: center;
  border-radius: var(--br-xs);
  font-size: var(--font-size-m);
  padding: var(--padding-s);
  font-family: var(--font-family);

  &::placeholder {
    font-style: italic;
    font-family: var(--font-family);
  }
}
.input-xl {
  width: 280px;
}
input#nif {
  max-width: 80px;
}
/* Styling for the Container Submit */
.container-submit {
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacing-xl);
  border-top: 1px solid var(--blue-600);
  border-bottom: 1px solid var(--blue-600);
  margin: 1rem 0;
  padding: 1rem 0;
}
.container-submit button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 8px 16px;
  border-radius: var(--br-s);
  border: none;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 19px;
  transition: filter 0.3s ease;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    filter: brightness(1.3);
  }

  &[type="submit"] {
    background-color: var(--orange-500);
    color: var(--white);
  }

  &#input-reset {
    background-color: var(--alert-danger);

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      img {
        opacity: 0.5;
      }
      &:hover {
        filter: none;
      }
    }
  }
}
#message-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 36px;
  border: 1px dashed;
  border-radius: var(--br-m);

  &.alert-success {
    border-color: var(--alert-success);
    color: var(--alert-success);
  }
  &.alert-error {
    border-color: var(--alert-danger);
    color: var(--alert-danger);
  }
  &.alert-information {
    border-color: var(--alert-info);
    color: var(--alert-info);
  }
}
/* Styling for the toggle button and the text */
#container-toggle {
  overflow: hidden;
  border-radius: var(--br-m);
  background-color: #243340;
}
#container-toggle nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-500);

  & a:first-child {
    border-right: 1px solid var(--orange-500);
  }
  img {
    width: 42px;
    height: 42px;
    padding: 8px 0px;
    opacity: 0.5;
    border-bottom: 2px solid transparent;
    border-radius: var(--br-m);
    transition: opacity 0.3s ease, border-bottom 50ms ease,
      background-color 50ms ease;

    &:hover {
      border-bottom: 2px solid #2c4052d8;
      background-color: #cef9d31a;
    }

    &:active {
      border-bottom: 2px solid #2c4052;
      background-color: #cef9d330;
    }
  }
}
#container-toggle nav a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: var(--padding-l);
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, filter 0.5s ease;

  &.active {
    background-color: #334a5e;
    img {
      opacity: 1;
    }
  }
}
#container-texts {
  padding: 1rem 1rem;
}
#txt-toggle-privacidad,
#txt-toggle-legal {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
  transition: all 0.3s ease;

}
/* ---------- Styling for the preview legal text ---------- */
.style-preview{
  font-size: 85%;
  p{
    font-weight: 300;
  }
  h1,h2,h3,h4,h5,h6{
    margin: 4px 0px;
  }
}
/* ---------- Scrollbar ---------- */
#txt-toggle-privacidad::-webkit-scrollbar,
#txt-toggle-legal::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#txt-toggle-privacidad::-webkit-scrollbar-track,
#txt-toggle-legal::-webkit-scrollbar-track {
  background-color: #28394A;
  border-radius: 10px;
}
#txt-toggle-privacidad::-webkit-scrollbar-thumb,
#txt-toggle-legal::-webkit-scrollbar-thumb {
  background-color: #334A5E;
  border-radius: 10px;
  border: 3px solid #28394A;
}
#txt-toggle-privacidad::-webkit-scrollbar-thumb:hover,
#txt-toggle-legal::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#txt-toggle-privacidad,
#txt-toggle-legal {
  scrollbar-color: #334A5E #28394A;
  scrollbar-width: thin;
}
/* Styling for the preview section */
h3.preview-title {
  font-size: var(--font-size-2xl);
  line-height: 1;
  font-weight: bold;
  color: var(--orange-400);
}
#preview {
  width: 35%;
  background-color: var(--blue-600);
  padding: var(--padding-xl);
}
#preview ul {
  list-style: none;
  padding: 0;
}
#preview li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: var(--spacing-s);
  padding: 4px 0px;
  font-style: italic;
  font-weight: 300;

  span {
    padding: 4px 8px;
    border-radius: var(--br-s);
    background-color: #e1ffcc;
    font-style: normal;
    font-weight: 400;
    color: #48441d;
  }
}
