@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--blue-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --blue-50: #eaecee;
  --blue-100: #bec3c9;
  --blue-200: #9ea7af;
  --blue-300: #727e8a;
  --blue-400: #566574;
  --blue-500: #2c3f51;
  --blue-600: #28394a;
  --blue-700: #1f2d3a;
  --blue-800: #18232d;
  --blue-900: #121a22;

  --orange-400: #e09450;
  --orange-500: #e67e21;
  --orange-600: #d35400;

  --alert-success: #6bcd75;
  --alert-info: #1275ea;
  --alert-danger: #ff4545;

  --input-background: #fffacc;
  --input-border: #efeabb;
  --input-color: #48441d;

  --text-color: #f1f1f1;

  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-family: "Aleo", Helvetica, Arial, sans-serif;
  /* Spacing */
  --spacing-s: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;

  --br-xs: 0.125rem;
  --br-s: 0.25rem;
  --br-m: 0.5rem;
  --br-l: 1rem;
  --br-xl: 2rem;

  --padding-s: 0.25rem;
  --padding-m: 0.5rem;
  --padding-l: 1rem;
  --padding-xl: 2rem;
  --padding-xxl: 4rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  place-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
main {
  background-color: red;
  border-radius: var(--br-l);
  overflow: hidden;
  display: flex;
}
#content {
  width: 65%;
  background-color: var(--blue-700);
  padding: var(--padding-xl);
}
.hidden {
  display: none;
}
.column-3 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
}
.column-2 {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
/* Styling for the form */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-l);
  align-items: baseline;
  padding: var(--padding-m) 0px;

  label {
    flex-shrink: 0;
    font-style: italic;
  }
}
.input-container input {
  width: 100%;
  flex-grow: 1;
  border: none;
  background-color: var(--input-background);
  color: var(--input-color);
  text-align: center;
  border-radius: var(--br-xs);
  font-size: var(--font-size-m);
  padding: var(--padding-s);
  font-family: var(--font-family);

  &::placeholder {
    font-style: italic;
    font-family: var(--font-family);
  }
}
.input-xl {
  width: 280px;
}
input#nif {
  max-width: 80px;
}
/* Styling for the submit button */
.container-submit {
  grid-column: span 3;
  display: flex;  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-s);
  margin: 1rem 0
}
/* Styling for the toggle button and the text */
#container-toggle {
  overflow: hidden;
  border-radius: var(--br-l);
}
#container-toggle nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-500);

  & a:first-child {
    border-right: 1px solid var(--orange-500);
  }
}
#container-toggle nav a {
  width: 100%;
  text-align: center;
  padding: var(--padding-l);

  &.active {
    background-color: #334A5E;
  }
}

#txt-toggle-privacidad,
#txt-toggle-legal {
  background-color: #243340;
  padding: var(--padding-xl) var(--padding-l);
}
/* Styling for the preview section */
#preview {
  width: 35%;
  background-color: var(--blue-600);
  padding: var(--padding-xl);
}
